<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bathory.io</title>
    <link rel="stylesheet" href="/styles/index.css"></link>
</head>
<body>
    <div class="center">
        <img id="goathead" class="quarterImage" src="/images/goathead.jpg"></img>
    </div>
    <div class="textContainer center">
        Hell decrees: the human race must suffer.<br></br>
        All shall perish - but the few shall profit.<br></br>
        Inquire now to invest in our ICO.
    </div>
</body>
</html>